**1.** Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a
file named test.txt.

**Answer:**

In [1]:
test1 = 'This is a test of the emergency text system,'
with open('test.txt', 'w') as file:
    file.write(test1)

**2.** Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

**Answer:** no

In [2]:
with open('test.txt', 'r') as file:
    test2 = file.read()

print(test2)

This is a test of the emergency text system,

**3.** Create a CSV file called books.csv by using these lines:
<br>title,author,year
<br>The Weirdstone of Brisingamen,Alan Garner,1960
<br>Perdido Street Station,China Miéville,2000
<br>Thud!,Terry Pratchett,2005
<br>The Spellman Files,Lisa Lutz,2007
<br>Small Gods,Terry Pratchett,1992

**Answer:**

In [15]:
import csv

with open('books.csv', 'w', encoding='UTF8') as file:
    file.write("""title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992"""
    )

**4.** Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

**Answer:**

In [16]:
import sqlite3
connection = sqlite3.connect('books.db')
cursor_db = connection.cursor()

cursor_db.execute('''CREATE TABLE books
                     (title text, author text, year integer)
                  '''
)

**5.** Read books.csv and insert its data into the book table.

**Answer:**

In [29]:
with open('books.csv', 'r', encoding='UTF8') as file:
    line_list = file.readlines()
    line_list = [i.replace('\n', '') for i in line_list]
    for line in line_list[1:]:
        line = line.split(',')
        cursor_db.execute(f"INSERT INTO books VALUES {line[0], line[1], line[2]}")

connection.commit()

connection.close()

**6.** Select and print the title column from the book table in alphabetical order.

**Answer:**

In [34]:
connection = sqlite3.connect('books.db')
cursor_db = connection.cursor()

title_query = '''
                 SELECT title 
                 FROM books
                 ORDER BY title;
              '''
cursor_db.execute(title_query)
print(cursor_db.fetchall())

connection.close()

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

**7.** From the book table, select and print all columns in the order of publication.

**Answer:**

In [35]:
connection = sqlite3.connect('books.db')
cursor_db = connection.cursor()

all_query = '''
               SELECT * 
               FROM books
               ORDER BY year;
            '''
cursor_db.execute(all_query)

print(cursor_db.fetchall())

connection.close()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Small Gods', 'Terry Pratchett', 1992), ('Perdido Street Station', 'China Miéville', 2000), ('Thud!', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007)]

**8.** Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

**Answer:**

In [39]:
import sqlalchemy
import pandas as pd

dbEngine=sqlalchemy.create_engine('sqlite:///books.db')
pd.read_sql('SELECT * FROM books', dbEngine)

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1         Perdido Street Station   China Miéville  2000
2                          Thud!  Terry Pratchett  2005
3             The Spellman Files        Lisa Lutz  2007
4                     Small Gods  Terry Pratchett  1992

**9.** Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for
test.

**Answer:**

In [ ]:
! pip install redis

In [ ]:
import redis

redis_client = redis.StrictRedis(host='localhost', port=6379, db=0)
redis_client.hset("test", "count", 1, "name", "Fester Bestertester")
print(redis_client.hgetall("test"))

**10.** Increment the count field of test and print it.

**Answer:**

In [ ]:
redis_client.hincrby("test", "count", 1)
print(redis_client.hgetall("test"))